body {
background:#404552;
color:#A3B7FF;
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-size:10pt;
margin:0;
padding:0;
text-align:center
}

#container {
border:solid #A49999 1px;
border-radius:15px;
margin:90px auto 0;
opacity:1.0;
padding:10px 0 36px;
text-align:left;
width:65%;
z-index:1000
}

#login_logo {
height:51px;
margin:0 auto 10px;
width:200px
}

#ProjectLinks {
display: auto;
width: 15%;
padding-left: 0%;
}

#login_box {
background:#404552;
border:solid #A49999 1px;
border-radius:15px;
margin:0 10px 10px 20px;
}

#login-container {
width:70%;
}

#contact_box {
background:#E5E5E5;
border:solid #A49999 1px;
border-radius:15px;
margin:0;
width:98%
}

form {
margin:0
}

th {
text-align:center
}

td {
vertical-align:top
}

select {
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:transparent;
border-color:gray;
border-radius:3px;
border-style:solid;
border-width:1px;
color:#A3B7FF;
font-size:100%;
margin:10px 0 0;
width:auto
}

select:hover, select:focus {
background:transparent;
border-color:#000;
border-radius:3px;
border-style:solid;
border-width:1px;
box-shadow:0 0 5px #7E7575;
font-size:100%;
box-shadow:0 0 5px #7E7575
}

input {
background-color:transparent;
border-color:gray;
border-radius:3px;
border-style:solid;
border-width:1px;
color:#A3B7FF;
font-size:100%;
margin:10px 0 0;
vertical-align:middle;
width:50%
}

input:hover, input:focus {
background-color:transparent;
border-color:#000;
border-style:solid;
border-width:1px;
font-size:100%;
box-shadow:0 0 5px #7E7575
}

button {
background:#404552;
border:solid gray 1px;
border-radius:7px;
color:#A3B7FF;
font-size:100%;
font-weight:700;
margin:10px 10px 10px 50px;
padding:4px;
width:30%
}

button:hover {
background:transparent;
color:#82BCF4;
cursor:pointer;
box-shadow:0 0 5px #7E7575
}

input.button:active {
background:#000
}

span {
margin:0 0 0 50px
}

label {
display:block;
float:left;
font-weight:700;
line-height:normal;
margin:10px 0 0 50px;
position:relative;
width:30%
}

#demo_text {
margin:10px 0 0 50px
}

div.centre {
margin:0 auto 10px;
text-align:center
}