a[data-tooltip]:link, a[data-tooltip]:visited {
position: relative;
text-decoration: none;
font-size: 100%;
}

a[data-tooltip]:before {
content: "";
position: absolute;
border-bottom: 20px solid #092942;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
visibility: hidden;
bottom: -100%;
right: -35.0%;
}

a[data-tooltip]:after {
content: attr(data-tooltip);
position: absolute;
color: white;
bottom: -150%;
right: -50%;
background: #092942;
padding: 5px 15px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
white-space: nowrap;
visibility: hidden;
box-shadow:5px 5px 5px #16187A;
}

a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
visibility: visible;
-webkit-transition: visibility 0s linear .3s;
-moz-transition: visibility 0s linear .3s;
-o-transition: visibility 0s linear .3s;
transition: visibility 0s linear .3s;
}