[project]
	description = Branch of KwaMoja for clinics and hospitals
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Schofield (timschofield)
[access "refs/for/refs/*"]
	read = group user/Tim Schofield (timschofield)
	push = group user/Tim Schofield (timschofield)
	label-Code-Review = -2..+2 group user/Tim Schofield (timschofield)
	label-Verified = -1..+1 group user/Tim Schofield (timschofield)
	rebase = group user/Tim Schofield (timschofield)
	removeReviewer = group user/Tim Schofield (timschofield)
	submit = group user/Tim Schofield (timschofield)
[access "refs/heads/*"]
	read = group user/Tim Schofield (timschofield)
	create = group user/Tim Schofield (timschofield)
	push = +force group user/Tim Schofield (timschofield)
	pushMerge = group user/Tim Schofield (timschofield)
[access "refs/tags/*"]
	push = group user/Tim Schofield (timschofield)
	push = +force group user/Tim Schofield (timschofield)
