@font-face {
font-family:Ubuntu;
font-style:normal;
font-weight:400;
src: local('Ubuntu'), url(https://fonts.googleapis.com/css?family=Ubuntu);
}

body {
font-family:"Ubuntu, Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-weight:400;
background-color:#ddd;
direction:rtl;
margin:0;
padding:0;
}

div.toplink {
padding-top:1%;
padding-left:1%;
margin-bottom:-1%;
text-align:left
}

input,textarea,select {
font-family:inherit;
}

img {
border:none;
vertical-align:middle;
}

.PrintIcon {
float:right;
cursor:pointer;
}

#mask {
display:none;
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background-image:url(images/mask.png);
z-index:2;
}

#dialog {
min-width:10%;
max-width:50%;
display:inline-block;
background:#fff;
z-index:99;
border:solid #000 1px;
border-radius:7px;
position:fixed;
top:50%;
left:50%;
margin-top:-9em;
margin-left:-15em;
box-shadow:0 0 5px #16187A;
padding:2px 2px 5px;
}

#dialog_header {
background:#cccce5;
width:auto;
border-radius:4px;
font-size:130%;
text-align:left;
padding-left:5px;
color:#300;
margin:2px;
}

#dialog_main {
background:#FFF;
width:auto;
border-radius:4px;
text-align:left;
padding-left:5px;
padding-right:5px;
font-style:italic;
font-size:130%;
color:navy;
margin:3% 2px;
}

input.okButton {
display:inline-block;
background-color:#cccce5;
border:thin;
color:#171380;
border-radius:3px;
cursor:pointer;
font-style:normal;
box-shadow:2px 2px 3px;
width:20%;
border-color:#CCC;
margin:2px 15px 5px 0;
padding:2px;
}

input.okButton:active {
box-shadow:0 0 0;
}

input.okButton:hover {
background-color:#B0C4DE;
}

a {
color:blue;
text-decoration:none;
display:block;
}

a.FontSize {
color:blue;
text-decoration:none;
display:inline;
}

a.ButtonLink {
text-decoration:none;
display:inline;
}

.centre {
text-align:center;
margin:0 auto;
}

.number {
 	text-align:right;
 	/* Class selector to horizontal align a number (right) in an element. */
}

.text {
 	text-align:left;
 	/* Class selector to horizontal align text (left) in an element. */
}

td {
text-align:left;
}

td.select {
background-color:#eee;
}

.dpTbl {
border:solid navy 1px;
background:#FFF;
}

.dpTD {
border:0;
width:20px;
background-color:#EEE;
text-align:right;
cursor:pointer;
}

.dpDayHighlight {
border:0;
width:20px;
background-color:#FF0;
text-align:right;
cursor:pointer;
}

.dpTDHover {
border:0;
width:20px;
background-color:#CCC;
text-align:right;
cursor:pointer;
}

.EvenTableRows {
background-color:#CCC;
}

.OddTableRows {
background-color:#EEE;
}

th {
background-color:#cccce5;
color:#300;
text-align:center;
}

th.number {
background-color:#cccce5;
color:#300;
text-align:right;
}

th.SortedColumn {
cursor:s-resize;
}

div.error {
background-color:#fddbdb;
color:red;
border:1px solid red;
}

div.warn {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
}

div.success {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
}

div.info {
background-color:#c7ccf6;
color:navy;
border:1px solid navy;
}

input.image {
background-color:transparent;
border-width:0;
}

input.image:hover {
background-color:transparent;
}

input.big {
width:100px;
}

input.small {
width:50px;
}

input:required,select:required,textarea:required {
background-color:#B2B2B2;
}

select.inputerror {
background:#FFA4A4;
}

:-moz-ui-invalid {
background-color:#FFA4A4;
}

p.good {
font-weight:700;
color:green;
}

p.bad {
font-weight:700;
color:red;
}

.header {
background-image:url();
background-repeat:no-repeat;
background-attachment:fixed;
border:none;
margin:0;
padding:0;
}

.table1 {
width:90%;
background:#eee;
border:1px solid #222;
margin:0 auto;
}

input.address3 {
text-transform:uppercase;
}

div.csv {
background:lightgray;
color:#000;
border:1px solid #000;
padding-left:3px;
z-index:1;
width:50%;
float:none;
visibility:visible;
position:static;
padding-top:1px;
padding-bottom:1px;
text-align:center;
margin:0 auto;
}

.page_title_text {
padding-top:2px;
padding-bottom:2px;
font-weight:700;
color:#000;
text-align:center;
}

DIV.page_help_text {
background:#D3D3D3 url(images/help.png) top left no-repeat;
border:#a52a2a 1px solid;
padding-top:2px;
padding-bottom:2px;
padding-left:10px;
z-index:1;
width:80%;
float:none;
visibility:visible;
position:static;
color:#000;
text-align:center;
margin:0 auto;
}

.menu_group_items a:hover {
color:#00a;
text-decoration:underline;
}

.tableheader {
background-color:#cccce5;
color:#300;
}

.notavailable {
font-weight:lighter;
font-style:italic;
color:#555;
}

.label {
font-weight:700;
font-style:normal;
font-size:120%;
color:#000;
background-color:#ccc;
}

.OsRow {
background-color:#234567;
color:#FFF;
}

.table_index {
background-color:#F1FFDD;
}

li {
list-style-image:url(bullet.gif);
}

#CanvasDiv {
background:#fff;
border:thin inset #ddd;
margin:5px;
}

#HeaderDiv {
overflow:hidden;
color:#000;
padding-right:3px;
}

#AppInfoUserDiv a {
color:#000;
}

#QuickMenuDiv {
float:left;
margin-top:3px;
}

#QuickMenuDiv ul {
list-style:none;
}

#QuickMenuDiv li {
display:inline;
float:right;
}

#QuickMenuDiv li a {
border:thin outset #ddd;
background:#ddd;
padding:3px;
}

#QuickMenuDiv li a:hover {
border:thin inset #ddd;
text-decoration:none;
color:blue;
padding:3px;
}

#BodyDiv {
clear:both;
overflow:hidden;
color:#000;
background:#FFF;
text-align:center;
}

#BodyDiv table {
width:auto;
margin:0 auto 10px;
}

#BodyDiv table.selection {
background:#eee;
border:thin outset #eee;
padding:5px;
}

#MainMenuDiv {
float:right;
white-space:nowrap;
text-align:center;
width:11%;
background:#ddd;
}

#MainMenuDiv ul {
list-style:none;
margin:0;
padding:0;
}

#MainMenuDiv li {
list-style:none;
padding:0;
}

#MainMenuDiv li a {
display:block;
border:thin outset #ddd;
color:blue;
padding:3px;
}

#MainMenuDiv li a:hover {
text-decoration:none;
border:thin inset #ddd;
background:#ddd;
padding:3px;
}

#MainMenuDiv .main_menu_selected a {
border:thin inset #ccc;
background:#ccc;
color:blue;
text-decoration:none;
}

#SubMenuDiv {
display:table;
width:89%;
text-align:left;
}

#SubMenuDiv ul {
list-style-type:none;
margin-top:0;
margin-left:3px;
border:thin outset #ddd;
padding:0;
}

#SubMenuDiv li {
background:#eee;
padding:2px;
}

#SubMenuDiv .menu_group_headers {
background:#ddd;
outline:thin outset #ddd;
text-align:center;
color:#000;
}

#InquiriesDiv div {
background:#ddd;
color:#000;
border:thin outset #ddd;
width:33%;
padding:2px;
}

#InquiriesDiv body {
background:#eee;
color:red;
width:33%;
padding:2px;
}

.menu_group_item p {
color:#00f;
text-indent:3px;
margin:0;
}

#FooterDiv {
clear:both;
overflow:hidden;
color:gray;
}

#FooterWrapDiv {
overflow:hidden;
padding:3px;
}

#FooterLogoDiv {
float:left;
}

#FooterTimeDiv {
clear:right;
}

#dialog_buttons,td.number,input.number,input.integer {
text-align:right;
}

a:hover,#AppInfoUserDiv a:hover {
color:blue;
text-decoration:underline;
}

input:hover,button:hover,select:hover {
background:#ADD8E6;
}

input.inputerror,select.selecterror,textarea.texterror {
background-color:#fddbdb;
}

#AppInfoDiv,#FooterVersionDiv {
float:right;
}

#AppInfoDiv img,#SubMenuDiv li img {
vertical-align:middle;
}

#AppInfoCompanyDiv,#AppInfoUserDiv {
display:table-cell;
}

#TransactionsDiv,#InquiriesDiv,#MaintenanceDiv {
display:table-cell;
width:33%;
}

#favourites {
background:#33414C;
font-size: 150%;
color:#D7DEE8;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 7px;
border-radius: 15px;
margin: 2px;
}

#favourites:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

#PlusMinus:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

.CanvasTitle {
background:#4682B4;
border-top-left-radius:15px;
border-top-right-radius:15px;
box-shadow:3px 3px 4px #86C3D7 inset, -3px -3px 4px #383878 inset, 0 0 0px #000;
padding: 5px;
color:#fff;
text-shadow: 1px 1px #0E0C6D;
}

iframe {
border-width: 0px;
width:30%;
margin-left:10px;
margin-top:5px;
margin-bottom:5px;
}

#CloseButton {
cursor:pointer;
float:right;
padding: 1px;
padding-right:5px;
color: #fff;
text-shadow: 1px 1px #0E0C6D;
}

#CloseButton:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
}
