@font-face {
font-family:Ubuntu;
font-style:normal;
font-weight:400;
src: local('Ubuntu'), url(https://fonts.googleapis.com/css?family=Ubuntu);
}

body {
font-family:"Ubuntu, Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-weight:400;
margin:0;
padding:0;
}

div.toplink {
padding-top:1%;
padding-left:1%;
margin-bottom:-1%;
text-align:left
}

input,textarea,select {
font-family:inherit;
}

#mask {
display:none;
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background-image:url(images/mask.png);
z-index:2;
}

#dialog {
min-width:10%;
max-width:50%;
display:inline-block;
background:#fff;
z-index:99;
border:solid #000 1px;
border-radius:7px;
position:fixed;
top:50%;
left:50%;
margin-top:-9em;
margin-left:-15em;
box-shadow:0 0 5px #16187A;
padding:2px 2px 5px;
}

#dialog_header {
background:#C9D392;
width:auto;
border-radius:4px;
font-size:130%;
text-align:left;
padding-left:5px;
color:#777C59;
margin:2px;
}

#dialog_main {
background:#FFF;
width:auto;
border-radius:4px;
text-align:left;
padding-left:5px;
padding-right:5px;
font-style:italic;
font-size:130%;
color:#798B54;
margin:3% 2px;
}

input.okButton {
display:inline-block;
background-color:#D5F081;
border:thin;
color:#4A6509;
border-radius:3px;
cursor:pointer;
font-style:normal;
box-shadow:2px 2px 3px;
width:20%;
border-color:#CCC;
margin:2px 15px 5px 0;
padding:2px;
}

input.okButton:active {
box-shadow:0 0 0;
}

input.okButton:hover {
background-color:#569;
}

input:required,select:required,textarea:required {
background-color:#C8FFA1;
}

a {
color:blue;
text-decoration:none;
}

a.FontSize {
color:blue;
text-decoration:none;
display:inline;
}

a.ButtonLink {
text-decoration:none;
display:inline;
}

a:hover {
color:blue;
text-decoration:underline;
}

img {
border:none;
vertical-align:middle;
}

.PrintIcon {
float:right;
cursor:pointer;
}

p.page_title_text {
padding-top:2px;
padding-bottom:2px;
font-weight:700;
color:#000;
background-color:#C9D392;
width:30%;
text-align:center;
margin:10px auto;
}

p.good {
font-weight:700;
color:green;
}

p.bad {
font-weight:700;
color:red;
}

table {
background-color:#fff;
width:100%;
margin:0 auto;
}

th {
background-color:#777C59;
color:#FFF;
text-align:center;
}

th.number {
text-align:right;
background-color:maroon;
color:#FFF;
}

th.SortedColumn {
cursor:s-resize;
}

td {
text-align:left;
}

td.select {
background-color:#eee;
}

.centre {
text-align:center;
margin:0 auto;
}

.number {
 	text-align:right;
 	/* Class selector to horizontal align a number (right) in an element. */
}

.text {
 	text-align:left;
 	/* Class selector to horizontal align text (left) in an element. */
}

input.image {
background-color:transparent;
border-width:0;
}

input.image:hover {
background-color:transparent;
}

.EvenTableRows {
background-color:#72824D;
}

.OddTableRows {
background-color:#CAF17C;
}

div.error {
background-color:#fddbdb;
color:red;
border:1px solid red;
}

div.warn {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
}

div.success {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
}

div.info {
background-color:#c7ccf6;
color:navy;
border:0 solid navy;
}

DIV.page_help_text {
background:#D3D3D3 url(images/help.png) top left no-repeat;
border:#a52a2a 1px solid;
padding-top:2px;
padding-bottom:2px;
padding-left:10px;
z-index:1;
width:80%;
float:none;
visibility:visible;
position:static;
color:#000;
text-align:center;
margin:0 auto;
}

.dpTbl {
border:solid navy 1px;
}

.dpTD {
border:0;
width:20px;
background-color:#EEE;
text-align:right;
cursor:pointer;
}

.dpDayHighlight {
border:0;
width:20px;
background-color:#FF0;
text-align:right;
cursor:pointer;
}

.dpTDHover {
border:0;
width:20px;
background-color:#CCC;
text-align:right;
cursor:pointer;
}

.tableheader {
background-color:#777C59;
color:#FFF;
}

.notavailable {
font-weight:lighter;
font-style:italic;
color:#555;
}

.label {
font-weight:700;
font-style:normal;
font-size:120%;
color:#000;
}

.table_index {
background-color:#F1FFDD;
}

.header {
background-image:url();
background-repeat:no-repeat;
background-attachment:fixed;
border:none;
margin:0;
padding:0;
}

select.inputerror {
background:#FFA4A4;
}

:-moz-ui-invalid {
background-color:#FFA4A4;
}

.OsRow {
background-color:#234567;
color:#FFF;
}

#CanvasDiv {
background:#fff;
margin:0;
}

#HeaderDiv {
overflow:hidden;
color:#000;
padding-left:3px;
background:#C9D392;
}

#AppInfoDiv {
float:left;
}

#AppInfoUserDiv a {
color:#5A5F00;
}

#AppInfoUserDiv a:hover {
color:#000;
text-decoration:underline;
}

#QuickMenuDiv {
float:right;
margin-top:.1em;
}

#QuickMenuDiv ul {
list-style:none;
}

#QuickMenuDiv li {
display:inline;
}

#QuickMenuDiv li a {
color:#5A5F00;
padding:8px;
margin-right: 4px;
}

#QuickMenuDiv li a:hover {
background:#B4BB86;
border:thin inset #5A5F00;
color:#000;
text-decoration:none;
padding:8px;
}

#BodyDiv {
clear:both;
overflow:hidden;
color:#000;
background:#FFF;
text-align:center;
padding:5px;
}

#BodyDiv table {
width:auto;
margin:0 auto 10px;
}

#BodyDiv table.selection {
background:#E0F3B1;
border:thin outset #E0F3B1;
padding:5px;
}

#MainMenuDiv {
float:left;
white-space:nowrap;
text-align:center;
width:11%;
background:#617C4F;
}

#MainMenuDiv ul {
list-style:none;
margin:0;
padding:0;
}

#MainMenuDiv li {
list-style:none;
padding:0;
}

#MainMenuDiv li a {
display:block;
border:thin outset #617C4F;
color:#FFF;
padding:3px;
}

#MainMenuDiv li a:hover {
text-decoration:none;
border:thin inset #617C4F;
background:#5A5F00;
padding:3px;
}

#MainMenuDiv .main_menu_selected a {
border:thin inset #5A5F00;
background:#5A5F00;
color:#FFF;
}

#SubMenuDiv {
display:table;
width:89%;
text-align:left;
}

#SubMenuDiv a:link,a:visited {
color:#5A5F00;
text-decoration:none;
}

#SubMenuDiv a:hover {
color:#5A5F00;
text-decoration:underline;
}

#SubMenuDiv ul {
list-style-type:none;
margin-left:3px;
margin-top:0;
margin-bottom:0;
border:thin outset #5A5F00;
background:#E0F3B1;
padding:0;
}

#SubMenuDiv li {
background:#E0F3B1;
padding:2px;
}

#SubMenuDiv .menu_group_headers {
background:#C9D392;
outline:thin outset #5A5F00;
text-align:center;
color:#000;
}

#InquiriesDiv div {
background:#C9D392;
color:#000;
border:thin outset #5A5F00;
width:33%;
padding:2px;
}

#InquiriesDiv body {
background:#eee;
color:red;
width:33%;
padding:2px;
}

.menu_group_item p {
color:#00f;
text-indent:-10px;
margin:0 0 0 12px;
}

#FooterDiv {
clear:both;
overflow:hidden;
background:#C9D392;
}

#FooterWrapDiv {
overflow:hidden;
padding:3px;
}

#FooterLogoDiv {
float:right;
background:transparent;
border-radius:8px;
padding:2px;
}

#FooterVersionDiv {
float:left;
margin-top:3px;
}

#FooterTimeDiv {
clear:left;
}

#dialog_buttons,td.number,input.number,input.integer {
text-align:right;
}

.table1,.table2 {
width:90%;
background:#eee;
border:0 0 2px 2px #222 solid;
margin:0 auto;
}

input.inputerror,textarea.texterror,select.selecterror {
background-color:#fddbdb;
}

#AppInfoDiv img,#SubMenuDiv li img,#FooterLogoDiv img {
vertical-align:middle;
}

#AppInfoCompanyDiv,#AppInfoUserDiv {
display:table-cell;
}

#TransactionsDiv,#InquiriesDiv,#MaintenanceDiv {
display:table-cell;
width:33%;
}

#favourites {
background:#617C4F;
color:#B0C4DE;
font-size: 150%;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 7px;
border: solid 1px #fff;
border-radius: 15px;
margin: 2px;
}

#favourites:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

#PlusMinus:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

.CanvasTitle {
background:#4682B4;
border-top-left-radius:15px;
border-top-right-radius:15px;
box-shadow:3px 3px 4px #86C3D7 inset, -3px -3px 4px #383878 inset, 0 0 0px #000;
padding: 5px;
color:#fff;
text-shadow: 1px 1px #0E0C6D;
}

iframe {
border-width: 0px;
width:30%;
margin-left:10px;
margin-top:5px;
margin-bottom:5px;
}

#CloseButton {
cursor:pointer;
float:right;
padding: 1px;
padding-right:5px;
color: #fff;
text-shadow: 1px 1px #0E0C6D;
}

#CloseButton:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
}
