@font-face {
font-family:Ubuntu;
font-style:normal;
font-weight:400;
src:local(Ubuntu), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format(woff);
}

body {
font-family:"Ubuntu, Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-weight:400;
background-color:#FFF;
margin:0;
padding:5px;
}

input,textarea,select {
font-family:inherit;
}

#mask {
display:none;
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background-image:url(images/mask.png);
z-index:2;
}

#dialog {
min-width:10%;
max-width:50%;
display:inline-block;
background:#fff;
z-index:99;
border:solid #000 1px;
border-radius:7px;
position:fixed;
top:50%;
left:50%;
margin-top:-9em;
margin-left:-15em;
box-shadow:0 0 5px #16187A;
padding:2px 2px 5px;
}

#dialog_header {
background:#1804D7;
width:auto;
border-radius:4px;
font-size:130%;
text-align:left;
padding-left:5px;
color:#E1E0F9;
margin:2px;
}

#dialog_main {
background:#FFF;
width:auto;
border-radius:4px;
text-align:left;
padding-left:5px;
padding-right:5px;
font-style:italic;
font-size:130%;
color:navy;
margin:3% 2px;
}

input.okButton {
display:inline-block;
background-color:#B0C4DE;
border:thin;
color:#171380;
border-radius:3px;
cursor:pointer;
font-style:normal;
box-shadow:2px 2px 3px;
width:20%;
border-color:#CCC;
margin:2px 15px 5px 0;
padding:2px;
}

input.okButton:active {
box-shadow:0 0 0;
}

input.okButton:hover {
background-color:#B0C4DE;
}

a {
text-decoration:none;
color:blue;
}

a.FontSize {
color:blue;
text-decoration:none;
display:inline;
}

a.ButtonLink {
text-decoration:none;
display:inline;
}

img {
border:none;
vertical-align:middle;
background:transparent;
}

.PrintIcon {
float:right;
cursor:pointer;
}

.page_title_text {
padding-top:2px;
padding-bottom:2px;
font-weight:700;
color:#000;
text-align:center;
}

p.good {
font-weight:700;
color:green;
}

p.bad {
font-weight:700;
color:red;
}

table {
background-color:#eee;
border:0 0 2px 2px #222 solid;
background:#eee;
width:100%;
}

table.selection {
background-color:#eee;
outline-style:solid;
outline-width:1px;
}

th {
background-color:#ccc;
color:#300;
text-align:center;
}

th.number {
text-align:right;
background-color:#ccc;
color:#300;
}

th.SortedColumn {
cursor:s-resize;
}

td {
text-align:left;
}

.centre {
text-align:center;
margin:0 auto;
}

input {
background:#eee;
color:#000;
border:0 0 1px 1px #000 dashed;
}

input:hover {
background:#eee;
color:#000;
border:1px 1px 1px 1px #000 solid;
}

input.image {
background-color:transparent;
border-width:0;
}

input.image:hover {
background-color:transparent;
}

select {
background:#eee;
color:#111;
}

textarea {
background:url(images/inputtxt.png) #eee;
color:#000;
border:0 0 1px 1px #000 dashed;
}

input:required,select:required,textarea:required {
background-color:#D1D1D5;
}

.EvenTableRows {
background-color:#CCC;
}

.OddTableRows {
background-color:#EEE;
}

textarea:hover {
background:url(images/inputhtxt.png) #eee;
color:#000;
border:1px 1px 1px 1px #000 solid;
}

div.error {
background-color:red;
color:#FFF;
font-style:italic;
font-weight:700;
border:3px solid red;
}

div.warn {
background-color:#fa0;
color:#000;
border:1px solid #000;
}

div.success {
background-color:#b9ecb4;
color:green;
border:1px solid green;
}

div.info {
background-color:#5d70f8;
color:#FFF;
border:1px solid #FFF;
}

DIV.page_help_text {
background:#D3D3D3;
border:#a52a2a 1px solid;
padding-top:2px;
padding-bottom:2px;
padding-left:10px;
z-index:1;
width:80%;
float:none;
visibility:visible;
position:static;
color:#000;
text-align:center;
margin:0 auto;
}

DIV.system_check {
border:#a52a2a 1px solid;
padding-left:3px;
z-index:1;
width:40%;
float:none;
visibility:visible;
position:static;
background:lightgray;
padding-top:1px;
padding-bottom:1px;
color:#000;
text-align:left;
margin:0 auto;
}

.dpTbl {
border:solid navy 1px;
}

.dpTD {
border:0;
width:20px;
background-color:#EEE;
text-align:right;
cursor:pointer;
}

.dpDayHighlight {
border:0;
width:20px;
background-color:#FF0;
text-align:right;
cursor:pointer;
}

.dpTDHover {
border:0;
width:20px;
background-color:#CCC;
text-align:right;
cursor:pointer;
}

.table1 {
width:90%;
background:#eee;
border:1px solid #222;
margin:0 auto;
}

.tableheader {
background-color:#cccce5;
color:#300;
}

.notavailable {
font-style:italic;
color:#555;
}

.label {
font-weight:700;
font-style:normal;
font-size:120%;
color:#000;
background-color:#ccc;
}

.header {
background-image:url();
background-repeat:no-repeat;
background-attachment:fixed;
border:none;
margin:0;
padding:0;
}

select.inputerror {
background:#FFA4A4;
}

:-moz-ui-invalid {
background-color:#FFA4A4;
}

.OsRow {
background-color:#234567;
color:#FFF;
}

li {
list-style-image:url(bullet.gif);
}

#HeaderDiv {
overflow:hidden;
background:url(images/gelblue.png) repeat-x blue;
background-size:contain;
color:#FFF;
border:2px outset blue;
border-radius:20px;
padding:0 5px;
}

#AppInfoDiv {
float:left;
}

#AppInfoUserDiv a {
color:#FFF;
font-weight:700;
text-decoration:none;
}

#AppInfoUserDiv a:hover {
color:#FFF;
font-weight:700;
text-decoration:underline;
}

#AppInfoModuleDiv {
padding-left:24px;
}

#QuickMenuDiv {
float:right;
margin-top:2px;
}

#QuickMenuDiv ul {
list-style:none;
}

#QuickMenuDiv li {
display:inline;
}

#QuickMenuDiv li a {
border:2px outset transparent;
border-radius:15px;
color:#FFF;
font-weight:700;
padding:5px;
}

#QuickMenuDiv li a:hover {
border:2px inset #4682B4;
text-decoration:none;
color:whie;
border-radius:15px;
padding:5px;
}

#BodyDiv {
clear:both;
overflow:hidden;
color:#000;
background:#F5F5F5;
text-align:center;
}

#BodyDiv table {
width:auto;
margin:0 auto 10px;
}

#BodyDiv .centre {
text-align:center;
margin:0 auto 10px;
}

#MainMenuDiv {
float:left;
white-space:nowrap;
text-align:center;
width:11%;
background:url(images/gelbluev.png) repeat-y blue;
background-size:contain;
border:2px outset blue;
border-radius:20px;
margin-top:5px;
padding:3px;
}

#MainMenuDiv ul {
list-style:none;
margin:0;
padding:0;
}

#MainMenuDiv li {
list-style:none;
padding:0;
}

#MainMenuDiv li a {
display:block;
border:2px outset transparent;
color:#FFF;
font-weight:700;
border-radius:15px;
padding:3px;
}

#SubMenuDiv {
display:table;
margin-left:auto;
margin-right:auto;
padding-top:5px;
width:87%;
text-align:left;
}

#SubMenuDiv ul {
list-style-type:none;
border:thin solid #000;
margin:0 0 0 3px;
padding:0;
}

#SubMenuDiv li {
list-style:none;
width:100%;
background:#eee;
}

#SubMenuDiv .menu_group_headers {
background:url(images/menu_bg_white.png) repeat-x silver;
text-align:center;
color:#000;
padding-top:2px;
padding-bottom:2px;
}

#SubMenuDiv .menu_group_item p {
color:blue;
text-indent:-10px;
margin:0 0 0 12px;
}

#SubMenuDiv a:link,a:visited {
color:blue;
text-decoration:none;
}

#SubMenuDiv .menu_group_item {
padding-top:2px;
padding-bottom:2px;
}

#SubMenuDiv .menu_group_item:hover {
background:#bfd8ff;
}

#InquiriesDiv div {
background:#ddd;
color:#000;
width:33%;
padding:2px;
}

#FooterDiv {
clear:both;
overflow:hidden;
color:gray;
background:url(images/bar.png) repeat-x lightgray;
border:thin solid lightgray;
}

#FooterWrapDiv {
overflow:hidden;
padding:3px;
}

#FooterLogoDiv {
float:left;
background:transparent;
border-radius:8px;
margin-left:44%;
padding:3px;
}

#FooterVersionDiv {
clear:both;
float:left;
margin-left:47%;
}

#FooterTimeDiv {
display:block;
float:right;
line-height:2.8em;
}

#dialog_buttons,td.number,input.number,input.integer {
text-align:right;
}

a:hover,#SubMenuDiv a:hover {
color:blue;
text-decoration:underline;
}

td.select,.table_index {
background-color:#eee;
}

input.inputerror,textarea.texterror,select.selecterror {
background-color:#fddbdb;
}

#AppInfoDiv img,#SubMenuDiv li img,#FooterLogoDiv img {
vertical-align:middle;
}

#AppInfoCompanyDiv,#AppInfoUserDiv {
display:table-cell;
}

#MainMenuDiv li a:hover,#MainMenuDiv .main_menu_selected a {
text-decoration:none;
border:2px inset #4682B4;
background:none;
border-radius:15px;
padding:3px;
}

#TransactionsDiv,#InquiriesDiv,#MaintenanceDiv {
display:table-cell;
width:33%;
}

#favourites {
background:transparent;
color:#B0C4DE;
font-size: 150%;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 7px;
border: solid 1px #fff;
border-radius: 15px;
margin: 2px;
}

#favourites:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

#PlusMinus:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

.CanvasTitle {
background:#4682B4;
border-top-left-radius:15px;
border-top-right-radius:15px;
box-shadow:3px 3px 4px #86C3D7 inset, -3px -3px 4px #383878 inset, 0 0 0px #000;
padding: 5px;
color:#fff;
text-shadow: 1px 1px #0E0C6D;
}

iframe {
border-width: 0px;
width:30%;
margin-left:10px;
margin-top:5px;
margin-bottom:5px;
}

#CloseButton {
cursor:pointer;
float:right;
padding: 1px;
padding-right:5px;
color: #fff;
text-shadow: 1px 1px #0E0C6D;
}

#CloseButton:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
}
