@font-face {
font-family:Ubuntu;
font-style:normal;
font-weight:400;
src: local('Ubuntu'), url(https://fonts.googleapis.com/css?family=Ubuntu);
}

body {
font-family:"Ubuntu, Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
font-weight:400;
background:url(images/desk.jpg) #631;
margin:10px;
}

div.toplink {
padding-top:1%;
padding-left:1%;
margin-bottom:-1%;
text-align:left
}

input,textarea,select {
font-family:inherit;
}

#mask {
display:none;
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background-image:url(images/mask.png);
z-index:2;
}

#dialog {
min-width:10%;
max-width:50%;
display:inline-block;
background:#fff;
z-index:99;
border:solid #000 1px;
border-radius:7px;
position:fixed;
top:50%;
left:50%;
margin-top:-9em;
margin-left:-15em;
box-shadow:0 0 5px #16187A;
padding:2px 2px 5px;
}

#dialog_header {
background:#ffd980;
width:auto;
border-radius:4px;
font-size:130%;
text-align:left;
padding-left:5px;
color:#000;
margin:2px;
}

#dialog_main {
background:#FFF;
width:auto;
border-radius:4px;
text-align:left;
padding-left:5px;
padding-right:5px;
font-style:italic;
font-size:130%;
color:#6B5403;
margin:3% 2px;
}

input.okButton {
display:inline-block;
background-color:#ffd980;
border:thin;
color:#000;
border-radius:3px;
cursor:pointer;
font-style:normal;
box-shadow:2px 2px 3px;
width:20%;
border-color:#CCC;
margin:2px 15px 5px 0;
padding:2px;
}

input.okButton:active {
box-shadow:0 0 0;
}

input.okButton:hover {
background-color:#ffd980;
}

input:required,select:required,textarea:required {
background-color:#F4F59E;
}

a {
color:blue;
text-decoration:none;
}

a.FontSize {
color:blue;
text-decoration:none;
display:inline;
}

a.ButtonLink {
text-decoration:none;
display:inline;
}

a:hover {
color:red;
text-decoration:underline;
}

img {
border:none;
vertical-align:middle;
}

.PrintIcon {
float:right;
cursor:pointer;
}

p.page_title_text {
color:#000;
font-weight:700;
text-align:center;
margin:5px auto;
padding:5px;
}

p.good {
font-weight:700;
color:green;
}

p.bad {
font-weight:700;
color:red;
}

table {
background:none repeat scroll 0 0 #FFF;
box-shadow:3px 3px 4px #631;
text-align:center;
width:auto;
max-width:90%;
margin:5px auto;
padding:3px;
}

table .selection {
background:#feb;
box-shadow:none;
}

th {
background-color:#ffd980;
color:#000;
text-align:center;
}

th.number {
text-align:right;
background-color:maroon;
color:#FFF;
}

th.SortedColumn {
cursor:s-resize;
}

td {
text-align:left;
}

td.select {
background-color:#ffb;
}

.centre {
text-align:center;
margin:5px;
}

.number {
 	text-align:right;
 	/* Class selector to horizontal align a number (right) in an element. */
}

.text {
 	text-align:left;
 	/* Class selector to horizontal align text (left) in an element. */
}

input.image {
background-color:transparent;
border-width:0;
}

input.image:hover {
background-color:transparent;
}

.EvenTableRows {
background-color:#f5e6c9;
}

.OddTableRows {
background-color:#f2fac0;
}

div.error {
background-color:#fddbdb;
color:red;
border:1px solid red;
box-shadow:3px 3px 4px;
width:80%;
margin:0 auto 10px;
padding:10px;
}

div.warn {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
box-shadow:3px 3px 4px;
width:80%;
margin:0 auto 10px;
padding:10px;
}

div.success {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
box-shadow:3px 3px 4px;
width:80%;
margin:0 auto 10px;
padding:10px;
}

div.info {
background-color:#C7CCF6;
border:0 solid navy;
color:navy;
box-shadow:3px 3px 4px;
width:80%;
margin:0 auto 10px;
padding:10px;
}

DIV.page_help_text {
background:#D3D3D3 url(images/help.png) top left no-repeat;
border:#a52a2a 1px solid;
z-index:1;
float:none;
visibility:visible;
position:static;
color:#000;
text-align:center;
box-shadow:3px 3px 4px;
width:80%;
margin:0 auto 10px;
padding:10px;
}

DIV.system_check {
border:#a52a2a 1px solid;
z-index:1;
float:none;
visibility:visible;
position:static;
background:lightgray;
color:#000;
text-align:left;
box-shadow:3px 3px 4px;
width:80%;
margin:0 auto 10px;
padding:10px;
}

.dpTbl {
border:thin solid #000;
background:#FFF;
box-shadow:3px 3px 4px #000;
}

.dpTD {
border:0;
width:20px;
background-color:#EEE;
text-align:right;
cursor:pointer;
}

.dpDayHighlight {
border:0;
width:20px;
background-color:#FF0;
text-align:right;
cursor:pointer;
}

.dpTDHover {
border:0;
width:20px;
background-color:#CCC;
text-align:right;
cursor:pointer;
}

.table1 {
width:90%;
background:#eee;
border:0 0 2px 2px solid #222;
margin:0 auto;
}

.tableheader {
background-color:#777C59;
color:#FFF;
}

.notavailable {
font-weight:lighter;
font-style:italic;
color:#555;
}

.label {
font-weight:700;
font-style:normal;
font-size:120%;
color:#000;
background-color:#ccc;
}

.table_index {
background-color:#F1FFDD;
}

.header {
background-image:url();
background-repeat:no-repeat;
background-attachment:fixed;
border:none;
margin:0;
padding:0;
}

select.inputerror {
background:#FFA4A4;
}

:-moz-ui-invalid {
background-color:#FFA4A4;
}

.OsRow {
background-color:#234567;
color:#FFF;
}

#CanvasDiv {
background:url(images/wood.jpg) #feb;
border:3px outset #feb;
border-radius:15px 15px 15px 15px;
box-shadow:5px 5px 6px #000;
padding:3px;
}

#HeaderDiv {
color:#000;
overflow:hidden;
}

#HeaderDiv a {
color:#000;
text-decoration:none;
border:2px outset #feb;
border-radius:10px;
box-shadow:2px 2px 3px #000;
margin-right:2px;
background:none;
padding:3px 5px;
}

#HeaderDiv a:hover {
text-decoration:none;
border:2px outset #feb;
border-radius:10px;
color:red;
box-shadow:2px 2px 3px #000;
padding:3px 5px;
}

#HeaderDiv a:active {
color:red;
text-decoration:none;
border:2px inset #feb;
border-radius:10px;
box-shadow:2px 2px 3px #000 inset;
padding:3px 5px;
}

#AppInfoDiv {
float:left;
}

#AppInfoCompanyDiv {
display:table-cell;
}

#AppInfoUserDiv {
display:table-cell;
padding-left:5px;
}

#AppInfoModuleDiv {
font-weight:700;
font-size:120%;
padding:3px;
}

#QuickMenuDiv {
float:right;
margin-top:3px;
}

#QuickMenuDiv li {
display:inline;
}

#BodyDiv {
clear:both;
overflow:hidden;
text-align:center;
}

#BodyWrapDiv {
color:#000;
}

#MainMenuDiv {
float:left;
white-space:nowrap;
text-align:center;
width:11%;
}

#MainMenuDiv ul {
margin:0 3px 0 0;
padding:0;
}

#MainMenuDiv li {
list-style:none;
padding:0;
}

#MainMenuDiv li a,#MainMenuDiv li a:hover,#MainMenuDiv li a:active,#MainMenuDiv .main_menu_selected a,#MainMenuDiv .main_menu_selected a:hover {
display:block;
color:#000;
text-decoration:none;
background:none;
border:2px outset #feb;
border-radius:10px;
box-shadow:2px 2px 3px #000;
margin-top:2px;
margin-bottom:2px;
padding:3px;
}

#MainMenuDiv li a:hover {
color:red;
}

#MainMenuDiv li a:active,#MainMenuDiv .main_menu_selected a:hover {
color:red;
border:2px inset #feb;
box-shadow:2px 2px 3px #000 inset;
}

#MainMenuDiv .main_menu_selected a {
border:2px inset #feb;
box-shadow:2px 2px 3px #000 inset;
}

#SubMenuDiv {
display:table;
text-align:left;
background:url(images/desk.jpg) #631;
border:3px inset #feb;
border-radius:15px;
box-shadow:5px 5px 6px #000 inset;
width:87%;
margin:0 auto;
padding:5px;
}

#SubMenuDiv ul {
background:url(images/wood.jpg) #feb;
border:3px outset #feb;
border-radius:10px;
box-shadow:5px 5px 6px #000;
margin:5px;
padding:0;
}

.menu_group_headers {
background:url(images/desk.jpg) #631;
border:3px outset #631;
border-radius:10px 10px 0 0;
color:#FFF;
font-weight:700;
text-align:center;
margin:-3px -3px 0;
padding:2px;
}

.menu_group_item,.menu_group_item:hover {
color:#000;
border:1px inset transparent;
border-radius:7px;
padding:2px;
}

.menu_group_item:hover {
border:1px inset #feb;
box-shadow:1px 1px 2px #000 inset;
}

.menu_group_item a {
color:#000;
text-decoration:none;
text-align:left;
}

.menu_group_item a:hover {
color:red;
text-decoration:none;
}

.menu_group_item p {
color:red;
text-indent:-10px;
margin:0 0 0 12px;
}

#TransactionsDiv,#InquiriesDiv,#MaintenanceDiv {
width:33%;
display:table-cell;
}

#InquiriesDiv div {
background:url(images/desk.jpg) #631;
border:3px outset #631;
color:#FFF;
font-weight:700;
width:33%;
margin:0 -3px;
padding:2px;
}

#FooterDiv {
clear:both;
color:#000;
overflow:hidden;
}

#FooterLogoDiv {
background:#FFF;
border:2px outset #feb;
border-radius:8px 8px 8px 8px;
float:left;
margin-left:0;
margin-top:3px;
padding:3px;
}

#FooterVersionDiv {
float:left;
margin-left:10px;
margin-top:17px;
}

#FooterTimeDiv {
float:right;
margin-top:17px;
}

#dialog_buttons,td.number,input.number,input.integer {
text-align:right;
}

input:hover,select:hover,textarea:hover {
background:#fff791;
}

input.inputerror,textarea.texterror,select.selecterror {
background-color:#fddbdb;
}

#QuickMenuDiv ul,#SubMenuDiv li {
list-style:none;
}

#favourites {
background:transparent;
color:#000;
font-size: 150%;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 7px;
border: solid 1px #000;
border-radius: 15px;
margin: 2px;
}

#favourites:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

#PlusMinus:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
cursor:pointer;
}

.CanvasTitle {
background:#4682B4;
border-top-left-radius:15px;
border-top-right-radius:15px;
box-shadow:3px 3px 4px #86C3D7 inset, -3px -3px 4px #383878 inset, 0 0 0px #000;
padding: 5px;
color:#fff;
text-shadow: 1px 1px #0E0C6D;
}

iframe {
border-width: 0px;
width:30%;
margin-left:10px;
margin-top:5px;
margin-bottom:5px;
}

#CloseButton {
cursor:pointer;
float:right;
padding: 1px;
padding-right:5px;
color: #fff;
text-shadow: 1px 1px #0E0C6D;
}

#CloseButton:hover {
box-shadow:2px 2px 3px #86C3D7, -2px -2px 3px #383878;
}
