/***

New Default Theme for KwaMoja

***/
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff") format("woff");
}

body {
font-family: "Ubuntu, Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
background-color:#ccd;
font-weight:normal;
margin:0;
padding:0
}
input, textarea, select{font-family:inherit;}

#mask {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image:url('images/mask.png');
	z-index: 2;
}
#dialog {
	min-width:10%;
	max-width: 50%;
	display: inline-block;
	padding: 2px;
	padding-bottom:5px;
	background: #ffffff;
	z-index: 99;
	border: solid black 1px;
	border-radius: 7px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
	box-shadow:0 0 5px #16187A;;
}
#dialog_header {
	background: #B06161;
	width: auto;
	margin: 2px;
	border-radius: 4px;
	font-size: 130%;
	text-align: left;
	padding-left: 5px;
	color: #ffffff;
}
#dialog_main {
	background: white;
	width: auto;
	margin: 2px;
	border-radius: 4px;
	text-align: left;
	margin-top: 3%;
	margin-bottom: 3%;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
	font-size: 130%;
	color: navy;
}
#dialog_buttons {
	text-align: right;
}
input.okButton {
	display: inline-block;
	background-color:#B06161;
	border:thin;
	border-color:#CCCCCC;
	color: #ffffff;
	margin:2px 15px 5px 0;
	padding: 2px;
	border-radius: 3px;
	cursor:pointer;
	font-style: normal;
	box-shadow:2px 2px 3px #686868;
	width: 20%;
}
input.okButton:active {
	box-shadow:0px 0px 0px;
}
input.okButton:hover {
	background-color:#B06161;
}

a{
color:blue;
text-decoration:none;
}
a:hover{
color:blue;
text-decoration:underline;
}

img{
border:none;
vertical-align:middle;
}
.PrintIcon {
	float: right;
	cursor: pointer;
}

.page_title_text{
padding:5px;
font-weight:bold;
color:black;
TEXT-ALIGN:center;
}
p.good{
font-weight:bold;
color:green;
}
p.bad{
font-weight:bold;
color:red;
}
table{
margin:0 auto;
width:auto;
max-width:90%;
padding-bottom:5px;
}
table.selection{
padding-bottom:5px;
}
th{
background-color:#B06161;
color:white;
}
th.number{
text-align:right;
background-color:#B06161;
color:white;
}
td{
text-align:left;
}
td.select{
background-color:#eee;
}
td.number{
text-align:right;
}
div.centre{
margin:0 auto;
text-align:center;
padding:5px;
}
input{
}
input.number{
text-align:right;
}
input.image{
border-width:0px;
background-color:transparent;
}
input.image:hover{
background-color: transparent;
}
input:hover{
}
select{
}
textarea{
}
textarea:hover{
}
.EvenTableRows{
background-color:#CCCCCC;
}
.OddTableRows{
background-color:#EEEEEE;
}
div.error{
background-color:#fddbdb;
color:red;
border:1px solid red;
}
div.warn{
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
}
div.success{
background-color:#b9ecb4;
color:darkgreen;
border:1px solid darkgreen;
}
div.info{
background-color:#c7ccf6;
color:navy;
border:1px solid navy;
}
DIV.page_help_text{
background:lightgrey url(images/help.png) top left no-repeat;
BORDER:#a52a2a 1px solid;
padding-top:2px;
padding-bottom:2px;
PADDING-LEFT:10px;
Z-INDEX:1;
width:80%;
FLOAT:none;
VISIBILITY:visible;
MARGIN:0 auto;
POSITION:static;
color:black;
TEXT-ALIGN:center;
}
DIV.system_check{
BORDER:#a52a2a 1px solid;
PADDING-LEFT:3px;
Z-INDEX:1;
width:40%;
FLOAT:none;
VISIBILITY:visible;
MARGIN:0 auto;
POSITION:static;
background:lightgray;
padding-top:1px;
padding-bottom:1px;
color:black;
TEXT-ALIGN:left;
}

.dpTbl { /* date picker background */
border:thin solid black;
background:white;
box-shadow: 3px 3px 4px #000; /* shadow on modern browsers */
}
.dpTD{
border:0;
width:20px;
background-color:#EEEEEE;
text-align:right;
cursor:pointer;
}
.dpDayHighlight{
border:0;
width:20px;
background-color:yellow;
text-align:right;
cursor:pointer;
}
.dpTDHover{
border:0;
width:20px;
background-color:#CCCCCC;
text-align:right;
cursor:pointer;
}

/* Table type is used for UI tables type 1 */
.table1{
width:90%;
background:#eee;
border:0px 0px 2px 2px #222 solid;
margin:0 auto;
}
/* Table type is used for UI tables type 2 */
/*.table2{
width:90%;
background:#eee;
border:0px 0px 2px 2px #222 solid;
margin:0 auto;
}*/

.tableheader{
background-color:#800000;
color:white;
}
.notavailable{
font-weight:lighter;
font-style:italic;
color:#555555;
}
.label{
font-weight:bold;
font-style:normal;
font-size:120%;
color:black;
background-color:#cccccc;
}
.table_index{
background-color:#F1FFDD;
}

.header{
background-image:url("");
background-repeat:no-repeat;
background-attachment:fixed;
border:none;
margin:0px;
padding:0px;
}
input.inputerror{
background-color:#fddbdb;
}
textarea.texterror{
background-color:#fddbdb;
}
select.selecterror{
background-color:#fddbdb;
}
.OsRow{
background-color:#234567;
color:white;
}

/*** CANVAS ***/

#CanvasDiv{
	background:#588BB6;
}

/*** HEADER ***/

#HeaderDiv{
color:white;
/*background:#588BB6;*/
/*overflow:hidden;*/
}
#HeaderDiv a{
color:white;
}
#HeaderDiv a:hover{
text-decoration:underline;
}
#HeaderWrapDiv{
}

/*** HEADER - APP INFO ***/

#AppInfoDiv{
float:left;
padding:0;
}
#AppInfoCompanyDiv,#AppInfoUserDiv{
display:table-cell;
}
#AppInfoModuleDiv{
}

/*** HEADER - QUICK MENU ***/

#QuickMenuDiv{
float:right;
margin-top:2px;
}
#QuickMenuDiv ul{
}
#QuickMenuDiv li{
display:inline;
border-left:thin ridge #588BB6;
padding:14px 12px;
}

/*** BODY ***/

#BodyDiv{
clear:both;
}
#BodyWrapDiv{
background:#CCCCCC;
/*border:thin solid #ccc;*/
clear:both;
}

/*** BODY - MAIN MENU ***/

#MainMenuDiv{
float:left;
width:11%;
border:thin solid #000;
text-align:center;
white-space:nowrap;
}
#MainMenuDiv ul{
margin:0;
padding:0;
}
#MainMenuDiv li{
list-style:none;
}

#MainMenuDiv li a{
color:black;
}
#MainMenuDiv li a:hover{
color:black;
text-decoration:underline;
}
.main_menu_unselected{
background:#8EDE8D;
padding:2px;
}
.main_menu_unselected:hover{
background:white;
}
.main_menu_selected{
background-color:white;
padding:2px;
}

/*** BODY - SUB MENU ***/

#SubMenuDiv{
display:table;
float:right;
overflow:hidden;
width:88.5%;
}
#SubMenuDiv ul{
margin:0;
padding:0;
background:#fff;
border:thin solid black;
margin-left:3px;
}
#SubMenuDiv li{
list-style:none;
}
#SubMenuDiv a{
color:blue;
}
#SubMenuDiv a:hover{
color:blue;
text-decoration:underline;
}
#TransactionsDiv,
#InquiriesDiv,
#MaintenanceDiv{
display:table-cell;
width: 33%;
}
.menu_group_headers{
text-align:center;
color:black;
background:#eee;
border-bottom:thin solid black;
}
.menu_group_item{
background-color:white;
padding:2px;
}
.menu_group_item p{
color:#00f; /* This is the color for bullets, I like it to be the same as the anchor color, but it's up to you */
text-indent:-12px; /* this makes the bullet to appear as the li tag previously used */
margin:0 0 0 12px; /* One thing that I didnÂ´t like of the li was that it had no left margin applied */
}
#InquiriesDiv div{ /* header for standard reports/forms, custom reports */
width: 33%;
border-top:thin solid black;
border-bottom:thin solid black;
background:#eee;
color:black;
padding:2px;
}

/*** FOOTER ***/

#FooterDiv{
clear:both;
overflow:hidden;
color:#CCCCCC;
padding:3px 2px;
}
#FooterWrapDiv{

}
#FooterLogoDiv{
background:transparent;
border-radius:7px;
float:left;
padding:3px;
}
#FooterVersionDiv{
float:left;
margin-left:10px;
margin-top:15px;

}
#FooterTimeDiv{
float:right;
margin-top:15px;
}
